<div class="row">
    <h4>Your Cart Items</h4>
</div>
@if(cartItems.length>0){
    <div class="container">
    @for(item of cartItems;track item){
            <div class="row">
                <div class="col-sm-12 pt-3 pb-3">
                    <div class="col-sm-3"><img [src]="item.productImageUrl" height="120" /></div>
                    <div class="col-sm-3"><span>{{item.productName}}</span></div>
                    <div class="col-sm-2"><span>{{item.quantity+1}}</span></div>
                    <div class="col-sm-2"><span>${{item.productPrice}}</span></div>
                    <div class="col-sm-2"><button class="btn btn-danger" (click)="removeItems(item.cartId)">Remove</button></div>
                </div>
            </div>
    }
    </div>
    <div>
        Sub Total: ${{subTotal}}
    </div>
    <div class="row">
        <div class="col-sm-12 text-center"><button class="btn btn-primary" (click)="makeSale()">Purchase</button></div>
    </div>
}
@else {
    <p>Empty cart!</p>
}




